<h1 align="center">Please log in to create a poll</h1>
<div align="center" class="topMargin" style="margin-top: 100px">
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-md-2">User Name</label>
			<div class="col-md-4">
				<input class="form-control" type="text" ng-model="user.name"   placeholder="Your Name"/>
			</div>
		
		<!-- <div class="form-control"> -->
			<button class="btn btn-primary col-md-1 col-md-offset-1" ng-click="signInUser(user)">Log In</button>
		</div>		
		<!-- </div> -->		
	</form>
</div>	